.mat-expansion-panel {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
}

.title-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  img {
    width: 2rem;
    height: 2rem;

    border-radius: 50%;

    margin-right: 1rem;
  }
}

.data-box {
  margin: 1rem;
  overflow: hidden;
  border-radius: .25rem;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;

  & .icon {
    display: flex;
    background-color: #D8D8D8;
  }

  & .icon,
  & .value {
    padding: .35rem .75rem .5rem .75rem;
  }

  & .value {
    padding-bottom: .25rem;
  }
}

.list-photo-info {
  display: flex;
  flex-wrap: wrap;

  & .list-photo-item {
    width: 25%;
    padding: .5rem;
    box-sizing: border-box;

    @media only screen and (max-width: 600px) {
      width: 100%;
      padding: .5rem .25rem;
    }
  }
}
