<mat-expansion-panel
  (afterExpand)="afterExpand()"
  (afterCollapse)="afterCollapse()">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <div class="title-bar">
        <img *ngIf="logo" [src]="logo" [alt]="codeName.code">
        <span>{{ codeName.name }}</span>
      </div>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div *ngIf="(hasManifest | async); else noManifest">
    <mat-tab-group mat-align-tabs="start">
      <mat-tab label="Launching date">
        <div class="data-box mat-elevation-z4">
          <div class="icon">
            <mat-icon aria-hidden="false" aria-label="Launch date icon">calendar_month</mat-icon>
          </div>
          <div class="value">{{ launchDate | async | date: 'fullDate' }}</div>
        </div>
      </mat-tab>
      <mat-tab label="Landing date">
        <div class="data-box mat-elevation-z4">
          <div class="icon">
            <mat-icon aria-hidden="false" aria-label="Landing date icon">calendar_month</mat-icon>
          </div>
          <div class="value">{{ landingDate | async | date: 'fullDate' }}</div>
        </div>
      </mat-tab>
      <mat-tab label="Maxim photo date">
        <div class="data-box mat-elevation-z4">
          <div class="icon">
            <mat-icon aria-hidden="false" aria-label="Maxim photo date icon">calendar_month</mat-icon>
          </div>
          <div class="value">{{ maxDate | async | date: 'fullDate' }}</div>
        </div>
        <div>The most recent Earth date from which photos exist</div>
        <div>
          <small>(Description from <a href="https://api.nasa.gov/" target="_blank">https://api.nasa.gov</a>)</small>
        </div>
      </mat-tab>
      <mat-tab label="Maxim sol">
        <div class="data-box mat-elevation-z4">
          <div class="icon">
            <mat-icon aria-hidden="false" aria-label="Maxim sol icon">calendar_month</mat-icon>
          </div>
          <div class="value">{{ maxSol | async | number:'0.0-0' }}</div>
        </div>
        <div>The most recent Martian sol from which photos exist</div>
        <div>
          <small>(Description from <a href="https://api.nasa.gov/" target="_blank">https://api.nasa.gov</a>)</small>
        </div>
      </mat-tab>
      <mat-tab label="Status">
        <div class="data-box mat-elevation-z4">
          <div class="icon">
            <mat-icon aria-hidden="false" aria-label="Status icon">monitor_heart</mat-icon>
          </div>
          <div class="value">{{ status | async | uppercase }}</div>
        </div>
      </mat-tab>
      <mat-tab label="Total photos">
        <div class="data-box mat-elevation-z4">
          <div class="icon">
            <mat-icon aria-hidden="false" aria-label="Total photos icon">photo_library</mat-icon>
          </div>
          <div class="value">{{ totalPhotos | async | number:'0.0-0' }}</div>
        </div>
      </mat-tab>
      <mat-tab label="Photos list">
        <div class="list-photo-info">
          <div
            *ngFor="let photoInfo of photosList | async" 
            class="list-photo-item">
            <app-rover-photos [data]="photoInfo"></app-rover-photos>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <ng-template #noManifest>
    <app-loader
      *ngIf="isOpened && (noManifestLoading | async) && !(isLoadingManifest | async)"
      [store]="storeRef"
      [action]="loadAction">
    </app-loader>
  </ng-template>
</mat-expansion-panel>
