<mat-expansion-panel
  [expanded]="isExpanded | async"
  (afterExpand)="afterExpand()"
  (afterCollapse)="afterCollapse()">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <div class="title-bar__wrapper">
        <img
          *ngIf="logo"
          class="title-bar__img"
          [src]="logo" [alt]="code">
        <span>{{ code | titlecase }}</span>
      </div>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div *ngIf="(hasManifest | async); else noManifest">
    <mat-tab-group
      mat-align-tabs="start"
      animationDuration="0ms"
      [selectedIndex]="selectedIndex | async"
      (selectedIndexChange)="changeSelectedTab($event)">
      <mat-tab label="Launching date">
        <div class="data-box__wrapper mat-elevation-z4">
          <div class="data-box__icon">
            <mat-icon aria-hidden="false" aria-label="Launch date icon">calendar_month</mat-icon>
          </div>
          <div class="data-box__value">{{ launchDate | async | date: 'fullDate' }}</div>
        </div>
      </mat-tab>
      <mat-tab label="Landing date">
        <div class="data-box__wrapper mat-elevation-z4">
          <div class="data-box__icon">
            <mat-icon aria-hidden="false" aria-label="Landing date icon">calendar_month</mat-icon>
          </div>
          <div class="data-box__value">{{ landingDate | async | date: 'fullDate' }}</div>
        </div>
      </mat-tab>
      <mat-tab label="Maxim photo date">
        <div class="data-box__wrapper mat-elevation-z4">
          <div class="data-box__icon">
            <mat-icon aria-hidden="false" aria-label="Maxim photo date icon">calendar_month</mat-icon>
          </div>
          <div class="data-box__value">{{ maxDate | async | date: 'fullDate' }}</div>
        </div>
        <div>The most recent Earth date from which photos exist</div>
        <div>
          <small>(Description from <a href="https://api.nasa.gov/" target="_blank">https://api.nasa.gov</a>)</small>
        </div>
      </mat-tab>
      <mat-tab label="Maxim sol">
        <div class="data-box__wrapper mat-elevation-z4">
          <div class="data-box__icon">
            <mat-icon aria-hidden="false" aria-label="Maxim sol icon">calendar_month</mat-icon>
          </div>
          <div class="data-box__value">{{ maxSol | async | number:'0.0-0' }}</div>
        </div>
        <div>The most recent Martian sol from which photos exist</div>
        <div>
          <small>(Description from <a href="https://api.nasa.gov/" target="_blank">https://api.nasa.gov</a>)</small>
        </div>
      </mat-tab>
      <mat-tab label="Status">
        <div class="data-box__wrapper mat-elevation-z4">
          <div class="data-box__icon">
            <mat-icon aria-hidden="false" aria-label="Status icon">monitor_heart</mat-icon>
          </div>
          <div class="data-box__value">{{ status | async | uppercase }}</div>
        </div>
      </mat-tab>
      <mat-tab label="Cameras">
        <div
          *ngFor="let camera of camerasList | async"
          class="data-box__wrapper mat-elevation-z4">
          <div class="data-box__icon">
            <mat-icon aria-hidden="false" aria-label="Total photos icon">photo_camera</mat-icon>
          </div>
          <div class="data-box__value"><strong>{{ camera.camera}}</strong>: {{ camera.description }}</div>
        </div>
      </mat-tab>
      <mat-tab label="Total photos">
        <div class="data-box__wrapper mat-elevation-z4">
          <div class="data-box__icon">
            <mat-icon aria-hidden="false" aria-label="Total photos icon">photo_library</mat-icon>
          </div>
          <div class="data-box__value">{{ totalPhotos | async | number:'0.0-0' }}</div>
        </div>
      </mat-tab>
      <mat-tab label="Photos list">
        <app-paginator
          [store]="storeRef"
          [actionFirst]="firstPageAction"
          [actionPrevious]="previousPageAction"
          [actionNext]="nextPageAction"
          [actionLast]="lastPageAction"
          [currentPage]="(currentPage | async)!"
          [lastPage]="(lastPage | async)!"
          [enabledPrevious]="(previousButtonEnabled | async)!"
          [enabledNext]="(nextButtonEnabled | async)!">
        </app-paginator>
        <div class="list-photo-info__wrapper">
          <div *ngFor="let photoInfo of photosList | async" 
            class="list-photo-info__item">
            <app-rover-photos [data]="photoInfo"></app-rover-photos>
          </div>
        </div>
        <app-paginator
          [store]="storeRef"
          [actionFirst]="firstPageAction"
          [actionPrevious]="previousPageAction"
          [actionNext]="nextPageAction"
          [actionLast]="lastPageAction"
          [currentPage]="(currentPage | async)!"
          [lastPage]="(lastPage | async)!"
          [enabledPrevious]="(previousButtonEnabled | async)!"
          [enabledNext]="(nextButtonEnabled | async)!">
        </app-paginator>
      </mat-tab>
    </mat-tab-group>
  </div>
  <ng-template #noManifest>
    <app-loader
      *ngIf="(isExpanded | async) && (noManifestLoading | async) && !(isLoadingManifest | async)"
      [store]="storeRef"
      [action]="loadAction">
    </app-loader>
  </ng-template>
</mat-expansion-panel>
