.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;

  .loading-text {
    font-size: 2rem;
    padding-top: 2rem;
    color: #3f51b5;
  }
}
