html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.p {
  &-1 {
    padding: 1rem;
  }
  &b-1 {
    padding-bottom: 1rem;
  }
  &-2 {
    padding: 2rem;
  }
}

.m {
  &-1 {
    margin: 1rem;
  }
  &b-1 {
    margin-bottom: 1rem;
  }
}
